#authors {
    font-family: 'Dawning of a New Day';
    font-size: 4em;
    color: #C8E6C9;
    text-decoration: underline;
    margin-bottom: .5em;
}

nav {
    background-color: black;
}

nav .brand-logo {
    color: #C8E6C9;
}